.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity .75s, visibility .75s;
}
.loader.hidden{
    opacity: 0;
    visibility: hidden;
}
.loader:after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid var(--gray-2);
    border-top-color: var(--blue-2);
    border-radius: 50%;
    animation: loading .75s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
