.users .edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.users .edit .title{
    align-self: flex-start;
    color: var(--blue-2);
    margin: 0 0 30px 50px;
}
.users .edit .form{
    background-color: var(--blue-2);
    color: var(--white-1);
    width: 50%;
    padding: 30px;
    border-radius: 4px;
    text-align: center;
    width: 35%;
}
.users .edit .form .error{
    color: red;
    display: none;
} 
.users .edit .form .main-text{
    border-bottom: 1px solid var(--gray-2);
    line-height: 1.3em;
    padding-bottom: 10px;
    margin: 0;
}
.users .edit .form form input,
.users .edit .form form .input{
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 40px;
    margin: 30px 0 30px 0;
    padding: 0 30px;
    outline: none;
}
.users .edit .form form button{
    display: inline-block;
    line-height: 40px;
    padding: 0 40px;
    margin: 0 0 30px 0;
    background: var(--white-1);
    width: 100%;
    box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray-1);
    border-radius: 6px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    min-width: 172px;
}
