.users .order{
    overflow: auto;
    text-align: left;
    padding: 0 75px;
}
.users .order .page-title{
    margin: 0 0 30px 0;
    color: var(--blue-2);
}
.users .order .title{
    margin: 0;
    color: var(--blue-2);
}
.users .order .information .info{
    margin: 20px;
}
.users .order .information .info span{
    width: 130px;
    display: inline-block;
}
.users .order .information .info p{
    display: inline-block;
    margin: 0;
}
.users .order .orders .title{
    margin: 30px 0;
}
.users .order .items .title{
    margin: 30px 0;
}
.users .order .items .items-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.users .order .items .items-wrapper .product{
    width: 30%;
    padding: 15px;
}
.users .order .items .items-wrapper .product a {
    max-width: 100%;
}
.users .order .items .items-wrapper .product img{
    width: 100%;
    height: 70%;
    border-radius: 12px;
}
.users .order .items .items-wrapper .product .main-text{
    margin: 1em 0 .5em 0;
    display: block;
    color: var(--black-1);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3em;
}
.users .order .items .items-wrapper .product .main-text:hover{
    color: var(--blue-2);
    transition: .3s all;
}